body {
  color: #ebedfc;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.125rem;
}
button, input, select {
  color: #222633;
}
h2 {
  font-weight: bold;
  font-size: 1.602rem;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-weight: bold;
  font-size: 1.266rem;
}

@media screen and (max-width: 675px) {
  body {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.424rem;
  }
  h3 {
    font-size: 1.125rem;
  }
}
